<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Mathematics</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Mathematical Tools for Kids</h1>
    </header>
    <main>
        <section class="tools">
            <h2>Tools Available</h2>
            <ol>
                <li><a href="/addition">Calculator</a></li>
                <ul>
                    <li><a href="/addition">Addition</a></li>
                    <li><a href="/substraction">Substraction</a></li>
                    <li><a href="/multiplication">Multiplication</a></li>
                    <li><a href="/division">Division</a></li>
                </ul><br>
                <li><a href="#converter">Unit Converter</a></li><br>
                <li><a href="#formula">Formulae Collection</a></li><br>
            </ol>
        </section>
        <footer>
            <p>&copy; 2023 Mathematical Tools for Kids</p>
        </footer>
</body>
</html>